header{
    width: 800px;
    height: 60px;
    /* background: tomato;*/
    padding: 20px 0;
}

h1, 
article p,
aside p,
footer p,
.test p
    {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}


article{
    width:580px;
    height:300px;
    background:#222;
    float: left;
}

aside{
    width:200px;
    height:300px;
    background:#ccc;
    float: left;
    margin-left: 20px;
}

footer {
    width: 800px;
    height: 60px;
    background: gold;
    padding: 20px 0;
    clear: auto;/*auto hidden visible*/
}

.container{
    width:800px;
    margin: 0 auto;
    /*background:red;*/
}

.content{
    width:800px;
    /*background:blueviolet;*/
    overflow: auto;
    margin: 20px 0;
    /*padding: 20px 0;*/
}

.test{
    background: red;
    width:100px;
    height:50px;
    position:absolute;
    
}

/*  media queries */

@media only screen and (min-width:768px) and (max-width:959px) {


    .container{
        width:768px;
    }

}
